.DS_Store
.idea/
.venv/
.env
.env.*
frontend/node_modules/
frontend/dist/

__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.mypy_cache/
.ruff_cache/

Переписки/
Разное.ipynb
.ipynb_checkpoints/

*.log
